@import 'src/app/style/_chat.scss';
@import 'src/app/style/_emoji-picker.scss';


.chat__date-pill {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-bottom: 20px;
    padding: 0 16px;
}

.date-pill__content {
    width: fit-content;
    padding: 5px 15px;

    font-size: 1rem;
    border: 1px solid var(--color-blue-border);
    border-radius: 30px;
}

.date-pill__line {
    flex-grow: 1;
    height: 1px;
    margin-block: auto;

    background-color: var(--color-blue-border);
}

.message__menu {
    position: absolute;
    right: 10%;
    top: 0;
    transform: translateY(-50%);

    display: flex;
    gap: 5px;

    padding: 3px 15px;

    background-color: white;

    border: 1px solid var(--color-blue-border);
    border-radius: 30px 30px 0 30px;

    button:hover {
        color: var(--color-blue-primary-hover);
    }
}

.message__menu--edit-msg {
    position: absolute;
    left: 33%;
    transform: translateY(100%);

    padding: 10px 20px;

    background-color: white;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.20);

    button {
        border-radius: 30px;
        white-space: nowrap;
        transition: 75ms ease-in-out;

        &:hover {
            font-weight: 700;
            color: var(--color-blue-secondary-hover);
            background-color: var(--color-blue-bg);
        }
    }
}

.message__edit-msg__input-container {
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    gap: 15px;
    transition: 125ms ease-in-out;
    padding: 10px 16px 10px 16px;

    z-index: 2;
    background-color: var(--color-blue-bg);
}

.message__edit-msg__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--color-blue-border);
    border-radius: 10px;
    background-color: white;
    width: 100%;

    &:focus-within {
        border-color: var(--color-blue-primary-default);
    }

    @media only screen and (max-width: 450px) {
        button {
            padding: 6px 12px !important;
        }
    }

    .message_edit-msg_input {
        display: flex;
        overflow-y: scroll;
        flex-grow: 1;

        textarea {
            width: 98%;
            height: 100%;
            background-color: transparent;

            border: none;
            outline: none;
        }
    }
}

.message-input__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        display: flex;
        align-items: center;
    }

    .btn-container__extra-btn-wrapper {
        display: flex;
        gap: 5px;

        mat-icon {
            margin: 0;
        }
    }
}

.msg-edit__input--file-wrapper {
    display: flex;
    object-fit: cover;
    max-width: 260px;
    gap: 4px;

    button {
        white-space: nowrap;
        border-radius: 30px;
        align-self: center;
    }

    img {
        max-width: 200px;
    }
}

.message__footer-reaction-container {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 8px;
}

.message__reaction-pill {
    position: relative;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--color-blue-border);
    cursor: pointer;

    &:has(.reaction__pill-wrapper:hover) {
        border: 1px solid var(--color-blue-primary-default);
    }

    p {
        margin: 0;
    }
}

.reaction__pill-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;


}

.reaction__emoji {
    font-size: 1rem;
}

.reaction__detail-modal-container {
    position: absolute;
    left: 50%;
    bottom: 110%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 12px;

    background-color: var(--color-blue-primary-default);
    color: white;
    border-radius: 30px 30px 30px 0;
    transition: 225ms ease-in-out;
    opacity: 0;

    z-index: 4;

    .reaction__user-name {
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        p {
            margin-right: 4px;
        }
    }

    &:first-child {
        font-size: 1.333rem;
    }

    &:last-child {
        white-space: nowrap;
    }
}