@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";
@import "../choose-avatar/choose-avatar.component.scss";

mat-card {
  height: 380px !important;
  position: relative !important;
}

.sign-in__headline {
  text-align: center;
  line-height: 120%;
}

.block__icon-arrow-back {
  top: 3px !important;
}

.block__input {
  margin-bottom: 0 !important;
}

.block__alert-email {
  top: 168px !important;
}

.block__info-text {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: var(--color-grey-primary-disable);
  margin: 30px 0;
}

.block__sign-up-successfull {
  right: 27px !important;
  bottom: 20px !important;
  padding: 20px !important;
  img {
    margin-right: 10px;
    height: 18px;
  }
}

.error-email-exist {
  top: 168px !important;
}

.unexpected-error {
  top: 307px !important;
}


 /*------------------------------------*\
    Responsive for smaller devices
 \*------------------------------------*/

@media(max-width: 400px) {
  .block__alert-email {
    top: 159px !important;
  }
}

@media(max-width: 330px) {
  .block__alert-email {
    left: 7px;
  }
}


 /*------------------------------------*\
    Responsive for smaller devices
 \*------------------------------------*/

@media(min-width: 1372px) {
  .img-after-intro {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}

@media(min-width: 2560px) {
  .img-after-intro {
    left: calc(100% - 2560px);
  }
}
