<div class="block__sign-up">
  <img class="img-after-intro" src="assets/img/logo-text.png" />

  <mat-card>
    <mat-card-content>
      <div class="block__headline-info-box">
        <div class="block__icon-arrow-back">
          <mat-icon class="icon__arrow-back" routerLink="">arrow_back</mat-icon>
        </div>
        <span class="sign-in__headline">Impressum</span>
        <div class="sign-in__info-text">
          <h3 class="color-blue">Angaben gemäß § 5 TMG</h3>
          <p>Mathias Kohler</p>
          <h4 class="color-blue">Postanschrift</h4>
          <p>Hausacksterstr. 4<br />76185 Karlsruhe<br /></p>
          <h4 class="color-blue">Kontakt</h4>
          <p>Telefon: +49 160 8588718<br />E-Mail: mathiaskohler@mail.de</p>
          <h4 class="color-blue">Hinweise zur Website</h4>
          <p>
            Das Impressum wurde mit dem
            <a
              target="_blank"
              href="https://www.activemind.de/datenschutz/impressums-generator/"
              >Impressums-Generator der activeMind AG</a
            >
            erstellt.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="block__imprint-data">
    <span routerLink="/privacy-policy">Datenschutz</span>
  </div>
</div>
