<main>
  <header>
      <h2>
          <span> Profil </span>
          <span (click)="onNoClick()" class="material-icons-outlined close__element"> close </span>
      </h2>
  </header>

  <div class="dialog__img">
      <img class="dialog__img--style" src="{{ this.dialogManagerService.selectedUser.photoUrl }}" alt="profil-avatar">
  </div>

  <div class="dialog__content">
      <div class="dialog__content--header">
          <h1> {{ this.dialogManagerService.selectedUser.name }} </h1>
      </div>

      <div class="dialog__content--status">
          <div class="container__status">
              <span class="onlinestatus onlinestatus--color-{{ this.dialogManagerService.selectedUser.onlineStatus }}"></span>
          </div>

          <span *ngIf="this.dialogManagerService.selectedUser.onlineStatus"> Online </span>

          <span *ngIf="this.dialogManagerService.selectedUser.onlineStatus === false"> Offline </span>
      </div>

      <div class="dialog__content--email">
          <span class="material-icons-outlined dialog__content--email-icon"> email </span>

          <div class="container__email">
              <span class="container__email--headline"> E-Mail-Adresse </span>

              <a
              class="container__email--data"
              href= "mailto:{{ this.dialogManagerService.selectedUser.email }}"> {{ this.dialogManagerService.selectedUser.email }} </a>
          </div>
      </div>
  </div>
</main>
