<div class="block__sign-up">
  <img class="img-after-intro" src="assets/img/logo-text.png">

  <mat-card>
    <mat-card-content>
      <form class="example-form" [formGroup]="resetPasswordForm">
        <div class="block__headline-info-box">
          <div class="block__icon-arrow-back">
            <mat-icon class="icon__arrow-back" routerLink="">arrow_back</mat-icon>
          </div>
          <span class="sign-in__headline">Passwort zurücksetzen</span>
        </div>

        <div class="block__input">
          <mat-icon class="material-icons-outlined mail-icon" [class.icon-color-black]="password1Form?.dirty || password1Form?.touched">lock</mat-icon>
          <input formControlName="password1Form" type="password" placeholder="Neues Passwort" #password1 (keyup)="checkPasswords(password1.value, password2.value)">
        </div>
        <div class="block__alert-password alert-block-1" *ngIf="password1Form?.invalid && (password1Form?.dirty || password1Form?.touched)">
          <div *ngIf="password1Form?.errors?.['required']">*Bitte gib ein Passwort ein.</div>
          <div *ngIf="password1Form?.errors?.['minlength']">*Bitte verwende mindestens 8 Zeichen.</div>
          <div *ngIf="password1Form?.errors?.['pattern'] && !password1Form?.errors?.['minlength']">*Mindestens eine Zahl und ein Großbuchstaben.</div>
          <div *ngIf="password1Form?.errors?.['requireUniqueCharacters'] && !password1Form?.errors?.['minlength'] && !password1Form?.errors?.['pattern'] ">*Mindestens 4 verschiedene Zeichen.</div>
        </div>

        <div class="block__input">
          <mat-icon class="material-icons-outlined mail-icon" [class.icon-color-black]="password2Form?.dirty || password2Form?.touched">lock</mat-icon>
          <input formControlName="password2Form" type="password" placeholder="Neues Passwort bestätigen" #password2 (keyup)="checkPasswords(password1.value, password2.value)">
        </div>
        <div class="block__alert-password alert-block-2" *ngIf="password2Form?.invalid && (password2Form?.dirty || password2Form?.touched)">
          <div *ngIf="password2Form?.errors?.['required']">*Bitte gib ein Passwort ein.</div>
          <div *ngIf="password2Form?.errors?.['minlength']">*Bitte verwende mindestens 8 Zeichen.</div>
          <div *ngIf="password2Form?.errors?.['pattern'] && !password2Form?.errors?.['minlength']">*Mindestens eine Zahl und ein Großbuchstaben.</div>
          <div *ngIf="password2Form?.errors?.['requireUniqueCharacters'] && !password2Form?.errors?.['minlength'] && !password2Form?.errors?.['pattern'] ">*Mindestens 4 verschiedene Zeichen.</div>
        </div>

        <div class="block__btn-box">
          <button
          class="btn__log-in"
          (click)="resetPassword()"
          [disabled]="!this.passwordsSimilar || this.resetPasswordForm.invalid"
          [class.btn-disabled]="!this.passwordsSimilar || this.resetPasswordForm.invalid"
          >Passwort ändern
          </button>
        </div>
    </form>

    <div class="error-email-exist" *ngIf="resetPasswordForm.valid && !this.passwordsSimilar">
      *Die eingegebenen Passwörter stimmen nicht überein.
    </div>

    <div class="error-email-exist" *ngIf="this.unexpectedError">
      *Ein unerwarteter Fehler ist aufgetreten. Bitte versuchen Sie es erneut.
    </div>

    <div class="block__sign-up-successfull" [class.block__sign-up-successfull--move-left]="this.finishedReset">
      <span>Anmelden</span>
    </div>

    </mat-card-content>
  </mat-card>

  <div class="block__imprint-data">
    <span routerLink="/imprint">Impressum</span>
    <span routerLink="/privacy-policy">Datenschutz</span>
  </div>
</div>
