@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";
@import "../forgot-password/forgot-password.component.scss";

mat-card-content {
  width: 100%;
}

form {
  width: 100%;
}

.block__icon-arrow-back {
  top: 0 !important;
}

.block__headline-info-box {
  margin-bottom: 40px;
}

.block__input {
  margin-bottom: 40px !important;
  width: 95%;
}

.alert-block-1 {
  top: 148px !important;
  z-index: 10;
}

.alert-block-2 {
  top: 235px !important;
}

.error-email-exist {
  top: 281px !important;
  left: 33px !important;
}

.block__sign-up-successfull {
  padding: 15px !important;
}


 /*---------------------------------------------*\
    Responsive for smaller devices
 \*---------------------------------------------*/
@media(max-width: 400px) {
  .alert-block-1 {
    top: 141px !important;
  }

  .alert-block-2 {
    top: 225px !important;
  }

  .error-email-exist {
    top: 274px !important;
  }
}
