<div 
class="overlay" 
(click)="closeDialogCreateChannel()"
*ngIf="rs.isDesktop$ | async"
></div>

<div
[class.dialog--desktop]="rs.isDesktop$ | async"
[class.dialog--mobile]="(rs.isMobile$ | async) || (rs.isTablet$ | async)"
>
    <header>
        <span> Channel hinzufügen </span>

        <span 
        (click)="closeDialogCreateChannel()" 
        class="material-icons-outlined close__element"
        > close </span>
    </header>

    <p class="description">
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein  #marketing zum Beispiel.
    </p>

    <form [formGroup]="createChannelForm">
        <div class="form__name">
            <span class="sub-headline">Neuer Channel Name</span>

            <input
            (keyup)="inputCreateChannel()"
            formControlName="channelNameForm"
            id="create-channel"
            #createChannel
            type="text" 
            placeholder="# z.B. Kooperationsprojekte"
            >
            
            <label 
            *ngIf="this.firestoreService.channelAlreadyExist" 
            for="create-channel" 
            class="block__alert"
            >*Channel Name Existiert bereits.</label>

            <label 
            *ngIf="err_hash" 
            for="create-channel" 
            class="block__alert"
            >*Sie haben ein Hashtag vergessen "#"</label>

            <div 
            class="block__alert" 
            *ngIf="channelNameForm?.invalid && (channelNameForm?.dirty || channelNameForm?.touched)"
            >
                <div 
                *ngIf="channelNameForm?.errors?.['minlength']"
                >*Bitte verwende min. 4 Zeichen.</div>

                <div 
                *ngIf="channelNameForm?.errors?.['maxlength']"
                >*Bitte verwende weniger als 16 Zeichen.</div>
            </div>
        </div>

        <div>
            <span class="sub-headline">Beschreibung </span>

            <span>(optional)</span>
        </div>

        <input 
        type="text"
        id="channel-description"
        placeholder="Dein Text hier">

        <div class="container__btn">
            <button 
            class="btn__submit"
            (click)="openUserSelection()"
            [disabled]="createChannelForm.invalid || this.firestoreService.channelAlreadyExist || err_hash"
            [class.btn-disabled]="createChannelForm.invalid || this.firestoreService.channelAlreadyExist || err_hash"
            >
            Erstellen
            </button>
        </div>
    </form>
</div>

<app-dialog-new-channel
[class.dialog__newChannel--desktop]="rs.isDesktop$ | async"
></app-dialog-new-channel>