@import '../../../style/variable.scss';

app-dialog-profil-menu, 
app-dialog-create-channel, 
app-dialog-new-chat{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
}

app-dialog-create-channel, 
app-dialog-new-chat{
    @include display_center;
  }